ol li:first-child{
    font-size: 32px;
    color: red;
}

ol li:last-child{
    font-size: 32px;
    color: blue;
}


/* ol li:nth-of-type(6){
    color: purple;
} */

/* ol li:nth-of-type(even){
    color: purple;
} */

/* ol li:nth-of-type(odd){
    color: purple;
} */

ol li:nth-of-type(3n+3){
    color: purple;
}