.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  width: 300px;
  height: 400px;
  border: 1px solid #c1c1c1;
  padding: 10px;
}
.card img {
  width: 300px;
  height: 200px;
}